.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;

}

.input {
    font-weight: bold;
}

.input:focus {
}

.errorInput {

    border-color: red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
    background-color: darkred;
}
